body{
    background: url(http://wallpoper.com/images/00/26/17/44/douglas-adams_00261744.jpg);
    background-repeat: no-repeat;
    /*background-size: ;*/
        

}
ul{
   font-style: italic;

}
li{
    text-decoration-color: white;

}
a{
    font-family: monospace;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #00c;
    font-family: cursive;
    background-color: green;
    text-decoration: underline;
}
tr {
    font-style: italic;

}
table{
    background-color: grey;
    text-decoration-color: black;
}