body{
    background: url(http://wallpoper.com/images/00/26/17/44/douglas-adams_00261744.jpg);
    background-repeat: no-repeat;
    /*background-size: ;*/
    color: white;
    

}
ul{
   font-style: italic;
}